<!DOCTYPE html>
<html>

<head>
  <title>Finance Portal</title>
  <link rel="stylesheet" href="/style.css"/>
</head>

<body>

<h2>OC Details</h2>

<form action="/submit" method="post">

  <label>Pre Risk</label>
  <input name="pre_risk" required/>

  <label>On Risk</label>
  <input name="on_risk" required/>

  <label>CUSIP</label>
  <input name="cusip" required/>

  <label>ISIN</label>
  <input name="isin" required/>

  <button type="submit">Submit</button>

</form>
<hr>
<a href="/records">
  <button type="button">Visualize RDS Data</button>
</a>
</body>
</html>
